Jinja2==2.7.3
MarkupSafe==0.23
PIL==1.1.7
PyYAML==3.10
Pygments==1.6
Sphinx==1.2.2
argh==0.23.3
argparse==1.2.1
beautifulsoup4==4.3.2
coverage==3.7.1
docutils==0.11
htmlmin==0.1.5
livereload==2.0.0
meld3==1.0.0
pathtools==0.1.2
pep8==1.5.7
py==1.4.20
pyflakes==0.8.1
python-coveralls==2.4.2
python-dateutil==2.2
pytz==2014.4
requests==2.3.0
selenium==2.42.1
sh==1.09
six==1.7.2
sphinx-autobuild==0.2.3
storysniffer==0.0.2
storytracker==0.0.4
tldextract==1.4
tornado==3.1.1
tox==1.7.1
unicodecsv==0.9.4
virtualenv==1.11.6
watchdog==0.6.0
wsgiref==0.1.2
