<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Archived URL analysis</h1>
                <h3>URL: {{ object.url }}</h3>
                <h3>Timestamp: {{ object.timestamp }}</h3>
                <h3><a target="_blank" href="file://{{ html_archive_path }}">View archived HTML</a></h3>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Hyperlinks statistics (<a href="{{ hyperlinks_csv_path }}">Download full list as CSV</a>)</h4>
                <table class="table table-bordered">
                    {% for k, v in object.summary_statistics.items() %}
                    <tr>
                        <th>{{ k }}</th>
                        <td>{{ v }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h4>Illustration</h4>
                <img src="{{ illo_jpg_path }}">
                <hr>
            </div>
        </div>
    </div>
</body>
</html>

